* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
body {
  width: 100%;
  height: 100%;
  background-color: lightblue;
  color: black;
}

nav {
  background-color: #7091f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;

  /* border-bottom: 1px solid #f2ebeb; */
}
nav i {
  font-size: 2.3rem;
  margin-right: 30px;
  display: none;
  z-index: -1;
}
.nav-logo {
  width: 12vw;
  height: 3vw;
  margin: 0px 100px;
}
.nav-logo img {
  width: 12vw;
  height: 3vw;
}

.nav-menu {
  width: 35vw;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*
  background-color: green; */
  height: 3vw;
  margin-right: 100px;
  position: relative;
  left: 200px;
}

.nav-menu > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: aqua; */
  width: 80%;
  height: 3vw;
}
.nav-menu ul li a {
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s;
}
.nav-menu ul li :hover {
  background-color: black;
  color: white;
}
/* .nav-menu ul li a:hover {
  color: black;
} */
.hire {
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  padding: 5px 8px;
  color: white;
  transition: all 0.3s;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.hire:hover {
  background-color: #793fdf;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .intro-conteiner {
  width: 50%;
  height: 70vh;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-conteiner .text {
  width: 70%;
  height: 70%;
  /* background-color: gray; */
  margin: 100px auto;
  padding: 20px;
  border: 1px solid lightblue;
  /* background-color: red; */
  /* box-shadow: 2px 5px 10px black; */
  border-radius: 5px;
}
.intro-conteiner .text:hover {
  box-shadow: 5px 8px 20px black;
}
.intro-conteiner .text h1 {
  font-size: 2.5rem;
  margin-top: 70px;
}
.intro-conteiner .text h1 span {
  color: #7091f5;
}
.intro-conteiner .text p {
  margin: 20px 0;
  line-height: 25px;
}
.intro-conteiner .typing-text {
  font-size: 30px;
  margin: 10px 0px;
  overflow: hidden;
  background-color: transparent;
}

.typing-text span {
  position: relative;
  left: 5px;
  padding: 5px;
}

.typing-text span::before {
  content: '';
  color: #793fdf;
  font-weight: bold;
  animation: text 20s infinite;
}
@keyframes text {
  0%,
  20% {
    content: ' Devoloper';
  }
  21%,
  40% {
    content: ' Programer';
  }
  41%,
  60% {
    content: ' Creator';
  }
  61%,
  80% {
    content: ' SEO Expert';
  }
  81%,
  100% {
    content: ' Mod Changer';
  }
}

.typing-text span::after {
  content: '';
  position: absolute;
  width: calc(100% + 10px);
  height: 100%;
  background: lightblue;
  animation: coursor 0.8s infinite, typing 20s steps(14) infinite;
  border-left: 2px solid orange;
  right: 0;
}
@keyframes coursor {
  to {
    border-left: transparent;
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: 100%;
  }
}
header .img-conteiner {
  width: 50%;
  height: 70vh;
  /* background-color: gray;
  border-left: 1px solid #f2ebeb; */
}
.img-conteiner .img {
  width: 60%;
  height: 70%;
  margin: 100px auto;
  border: 1px solid white;
}
.img-conteiner .img img {
  width: 100%;
  height: 100%;
}
.space {
  height: 50vh;
  width: 1px;
  background-color: #fff;
}
/* header end */
/* about section start */
.about-sec {
  width: 100%;
  height: 40vh;
  background-color: #6974bb;
  color: white;
}

.about {
  width: 83%;
  height: 100%;
  /* background-color: gray; */
  margin: 0px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top: 1px solid white;
  border-bottom: 1px solid white; */
}
.ab-text {
  text-align: center;
}
.ab-text h2 {
  font-size: 2rem;
  border-bottom: 2px solid white;
  display: inline-block;
  margin: 20px;
}
.ab-text p {
  line-height: 25px;
}
/* about section end */
/* skills section start */
.skills {
  width: 100%;
  height: 60vh;
  /* background-color: red; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-head {
  text-align: center;
  margin: 10px;
  border-bottom: 2px solid black;
  width: fit-content;
}
.skill-menu {
  width: 85%;
  height: 85%;
  /* background-color: gray; */
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  /* border-bottom: 1px solid white; */
}
.skill-menu .skill {
  width: 30%;
  height: 100%;
  /* background-color: green; */
  padding: 10px;
  /* border: 1px solid white; */
  box-shadow: 2px 5px 10px black;
  border-radius: 5px;
}
.skill-menu .skill:hover {
  box-shadow: 3px 8px 20px black;
}
.skill-menu .skill i {
  font-size: 2.5rem;
  margin: 15px;
}
.skill-menu .skill #html {
  color: #e05126;
}
.skill-menu .skill #css {
  color: #2fa5d6;
}
.skill-menu .skill #js {
  color: #e09e27;
}
.skill-menu .skill p {
  margin-left: 15px;
  line-height: 25px;
}
/* skill sec end */
/* project sec start */
.project-sec {
  width: 100%;
  height: 50vh;
  background: linear-gradient(
    to bottom right,

    #d0bfff,
    #d0bfff,
    #dfccfb,
    #fff3da
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.projects {
  width: 85%;
  height: 90%;
  /* background-color: burlywood; */
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.project {
  width: 30%;
  height: 95%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  /* border: 1px solid white; */
  box-shadow: 2px 5px 10px black;
  border-radius: 5px;
}
.project:hover {
  box-shadow: 5px 10px 20px black;
  border-radius: 5px;
}
.project-head {
  margin: 20px;
  border-bottom: 2px solid black;
}
.project small {
  margin: 5px;
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
.project h3 {
  margin: 5px;
}
.project p {
  margin: 5px;
  line-height: 25px;
}
.project #p-1 {
  margin: 20px;
  padding: 5px 8px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.3s;
}
.project #p-1:hover {
  background-color: white;
  color: black;
  box-shadow: 2px 3px 5px black;
}
/* project area end */
/* contuct area start */
.contuct-area {
  width: 100%;
  height: 35vh;
  background-color: rgb(115, 195, 222);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.contuct-head {
  margin: 20px;
  border-bottom: 2px solid black;
}
.contuct {
  width: 85%;
  height: 60%;
  /* background-color: lightblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 50px;
  /* border: 1px solid black; */
}
.contuct:hover {
  box-shadow: 1px 2px 8px black;
}
.mail-area {
  width: 60%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mail {
  width: 25vw;
  height: 35px;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail input {
  width: 80%;
  border: none;
  outline: none;
}
.mail .send {
  border: none;
  background-color: #7091f5;
  font-size: 20px;
  height: 35px;
  padding: 0px 5px;
  position: relative;
  left: 9px;
}
.mail-area p {
  line-height: 25px;
}
/* footer start */
footer {
  width: 100%;
  height: 15vh;
  background-color: #183153;
  justify-content: center;
  align-items: center;
}
.foot-text {
  position: relative;
  top: 30%;
  width: 50vw;
  height: 50px;
  /* background-color: red; */
  color: white;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-text small {
  font-size: 18px;
  font-weight: normal;
}
/* footer end */

/* responsive part start */

@media (max-width: 600px) {
  nav i {
    display: block;
    cursor: pointer;
    /* position: absolute;
    left: 20px; */
    z-index: 5;
  }

  .nav-logo {
    width: 30vw;
    height: fit-content;
    position: relative;
    left: -50px;
    z-index: 5;
  }
  .nav-logo img {
    width: 30vw;
    height: 8vw;
  }

  .nav-menu {
    display: none;
  }
  .nav-menu ul {
    display: flex;
    flex-direction: column;

    position: relative;
    left: -10px;
    top: 200px;
  }
  .nav-menu ul li {
    margin: 10px;
  }
  .nav-menu.show {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #2fa5d6;
    position: absolute;
    left: 0px;
    z-index: 3;
  }
  .nav-menu .hire {
    /* position: relative;
    top: 20vh;
    left: -6px; */
    display: none;
  }
  header {
    flex-direction: column;
  }
  header .intro-conteiner {
    width: 100%;
    height: 70vh;
  }
  .intro-conteiner .text {
    width: 80%;
    height: 50vh;
    margin-top: 100px;
  }
  .intro-conteiner .text:hover {
    box-shadow: none;
  }
  .intro-conteiner .text h1 {
    margin-top: 15px;
    font-size: 30px;
  }
  .intro-conteiner .text p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .space {
    width: 70%;
    height: 1px;
  }
  header .img-conteiner {
    width: 100%;
    height: 50vh;
  }
  .img-conteiner .img {
    margin-top: 40px;
    height: 80%;
  }
  .about-sec {
    height: 55vh;
  }
  .about {
    width: 100%;
  }
  .ab-text p {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }
  span {
    font-size: 1.5rem;
  }
  .skills {
    height: 150vh;
  }
  .skill-menu {
    width: 100%;
    flex-direction: column;
  }
  .skill-menu .skill {
    width: 70%;
    height: 45%;
    margin: 10px;
  }
  .skill-menu .skill p {
    line-height: 18px;
    font-size: 14px;
    position: relative;
    top: -10px;
  }
  .skill-head {
    position: relative;
    top: -30px;
  }
  .skill-menu .skill i {
    margin-top: 2px;
  }
  .project-sec {
    height: 170vh;
  }
  .projects {
    flex-direction: column;
  }
  .project {
    width: 70%;
    height: 33%;
    margin: 10px;
  }
  .project p {
    font-size: 14px;
    margin: 0;
  }
  .project h3 {
    font-size: 16px;
    margin: 5;
  }
  .project #p-1 {
    margin: 2px;
  }

  .contuct-area {
    height: 50vh;
  }
  .contuct {
    width: 90%;
  }
  .mail-area .mail {
    width: 100%;
  }
  .foot-text {
    width: 100%;
  }
  .foot-text small {
    font-size: 12px;
  }
}
